<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Gleidson" value="https://pkgs.dev.azure.com/gleidsonnunes/_packaging/Gleidson/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <apikeys>
    <add key="https://pkgs.dev.azure.com/gleidsonnunes/_packaging/Gleidson/nuget/v3/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA74elQ2Lr50mW8E9I/he15QAAAAACAAAAAAAQZgAAAAEAACAAAABmgZXsjUVrA1R3Ojh7sdPx8l2UzQxdYgSUzPrcnvKvSAAAAAAOgAAAAAIAACAAAABcR/2WNy66G82MS9DnYScfVl2nHI6UI8H6hp3psFnQgkAAAABra7sSQviPpLGoLuqiHLagyiQLvPIsCc3L+AsyiFJ/4dNandpzAKgoZICrAdg50RaXLEX4UA85llChHGVHiZCBQAAAAOz8vBGa1JsEh8d0oa3vZHWlNTGPEwdqHgmjL0zmNiVPb9eQzfaz0j4ZmZBtUtyWFf+SCFyMiKGqp5yuyaNJXmA=" />
  </apikeys>
</configuration>